<h2><%= @destination.address %></h2>

<h2><%= @coordinates %></h2>


<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
</div>































<%= link_to "reset destination", destination_path(@destination), method: :delete %>